body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.main, body.login{
  background: #076547 !important;
}

a {
  color: #00B7FF;
}


.logo{
  margin: 20% auto 0px;
  text-align: center;
  color: #FFF;
  background-color: #2ECC40;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  line-height: 250px;
  font-size: 40px;
}

.logo a{
  color: #FFF;
  font-weight: bold;
}
.logo a:hover, .logo a:focus{
  color: #FFF;
}
.tinfo .indicator.green{
  background-color: #3D9970;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.index-container{
  margin-top: 20px;
}
.index-container .ui.header{
  color: #FFF!important;
}

span.happy, span.sad{
  display: none;
}

table{
  border-collapse: collapse;
}
table th,table td{
padding: 3px;
}

table th:hover{
cursor: pointer;
}


.arrow-down:after,.arrow-up:after{
content: ' ';
position: relative;
left: 2px;
border: 8px solid transparent;
}

.arrow-down:after{
top: 10px;
border-top-color: black;
}

.arrow-up:after{
bottom: 15px;
border-bottom-color: black;
}

.arrow-down,.arrow-up{
padding-right: 10px;
}
